body{
    background-image: linear-gradient(rgb(240, 240, 240) 80%, rgb(170, 170, 170),rgb(51, 51, 51))
}

.navbar{
    padding-left:30px;
    padding-right:30px;
    background-color: rgb(20, 122, 122);
    border-bottom: solid 10px;
    border-color:  rgb(15, 80, 80);
}
.navbar-brand {
    color:rgb(200, 200, 200);
    font-size: 45px;
}
.navbar-expand-sm .navbar-collapse{
    justify-content: end;
}
.nav-link {
    color:rgb(200, 200, 200);
    font-size: 25px;
}
.Christmas-Statement {
    background-image: linear-gradient(rgba(6, 51, 51, 0.288)90%,rgba(255, 255, 255, 0.356));
    padding: 30px;
    width:100%;
    text-align: center;
}

.Banner-Text {
    margin-top:30px;
    text-align-last: center;
    background-color:rgba(20, 122, 122, 0.562);
    color:rgb(211, 209, 209); 
    font-size: 45px;
    
    border-radius: 10px;
    width:60%;
    justify-self: center;
    text-align: center;
}

.Sub{
    margin-bottom:12px;
    background-color: rgba(98, 125, 184, 0.678);
    padding: 5px;
    border-bottom: solid 5px;
    border-color:rgba(77, 77, 77, 0.603);
    border-radius: 10px;
    width:60%;
    justify-self: center;
    text-align: center;
}

.Design-Carousel {
    width: 80%;
    margin: 0 auto;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}

#Indoor, #Outdoor{
    margin-bottom:12px;
    background-color: rgba(17, 39, 87, 0.678);
    padding: 5px;
    border-bottom: solid 5px;
    border-color:rgba(77, 77, 77, 0.603);
    border-radius: 0px;
    width:100%;
    justify-self: center;
    text-align: center;
}


.Form_Container{
    background-color:rgba(204, 204, 204, 0.959);
    width: 65%;
    color:black;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
}
.Form_Container h1{
    text-align: center;
}
.form-row {
    display:flex;
    margin-bottom: 10px;
    margin-left: 10px;
    justify-content: center;
}
.form-label-col {
    width: 100px;
}
.form-input-col {
    width:auto;
    display:flex;
    justify-content: right;
    width: 70%
}
.Form_Container input{
    width:100%;
}
.Form_Container textarea{
    width:100%;
}